<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="/js/jquery-3.4.0.min.js"></script>

<script>
    window.onload = function () {
        clickFunc = function () {
            console.log("Hha")
            $.ajax({
                url: "localhost:3000/user/signupemail",
                type: "POST",
                dataType: "JSON",
                data: {
                    email: "316585692@qq.com"
                },
                success: function (data) {
                    console.log(data);
                }
            })
        }
        document.getElementById('btn').onclick = clickFunc;
    }
</script>

<body>
    <button id="btn">click</button>
</body>

</html>